/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/cy_sama_sec_2_2
/public/iso_sec_2_2
/public/ksa_nca_sec_2_2
/public/sbp_etgrmf_sec_2_2
/public/pci_sec_2_2
