body {
    font-family: 'Poppins';
}

.wrapper {
    width: 100%;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: rgb(81, 197, 250);
    color: black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: bolder;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 1rem;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: black;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: purple;
}

#sidebar ul li.active>a {
    background: transparent;
    color: black;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.boxstyling {
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.users {
    font-weight: bolder;
}


/* .swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
} */


/* a:hover,
a:focus{
    text-decoration: none;
    outline: none;
} */

.tab {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.tab .nav-tabs {
    margin: 0;
    border: none;
    position: relative;
}

.tab .nav-tabs li a {
    color: #333;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: capitalize;
    padding: 11px 18px;
    margin: 0 10px 10px 0;
    border-radius: 0;
    border: 1px solid #eee;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover {
    background-color: transparent;
    border: 1px solid #eee;
}

.tab .nav-tabs li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}


/* .tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before {
    background-color: #9C3140;
    width: 80%;
    left: 10%;
} */

.tab .tab-content {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 20px 25px;
    border: 3px solid #9C3140;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    /* Add a border */
    width: 18px;
    /* Adjust the width and height as needed */
    height: 18px;
    border-radius: 0;
    /* Remove border radius to make it square */
}


/* Style radio buttons as squares when checked */

input[type="radio"]:checked {
    background-color: blue;
    /* Change the background color when checked */
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li a {
        margin-right: 0;
    }
}